form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 2rem 1rem 0rem 0rem;
}

button.brown {
    background-color: brown;
    color: white;
}

button.white {
    color: black;
    background-color: white;
}